<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReservaSala</title>

    <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Salas")">ReservaSalas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav justify-content-center d-flex flex-fill">
                <li class="nav-item" id="menu-sala">
                    <a class="nav-link" href="@Url.Action("Index", "Salas")">Salas</a>
                </li>
                <li class="nav-item" id="menu-reserva">
                    <a class="nav-link" href="@Url.Action("Index", "Reservas")">Reservas</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()        
    </div>

    <footer class="fixed-bottom">
        <div class="container">
            <p>@Html.Raw(DateTime.Today.Year) - ReservaSalas</p>
        </div>
    </footer>

    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
@{
    if (TempData.ContainsKey("Mensagem"))
    {
        MensagemRetorno erro = Newtonsoft.Json.JsonConvert.DeserializeObject<MensagemRetorno>(TempData["Mensagem"].ToString());

        @Html.Raw("<script>Swal.fire({ " +
        "title: '" + erro.Titulo + "'," +
        "text: '" + erro.Mensagem + "'," +
        "type: '" + erro.Tipo + "'," +
        "allowOutsideClick: false," +
        "allowEscapeKey: false })</script>")
    }
}
</html>
