@model IEnumerable<ReservaSala.Models.Reserva>

<div class="pb-2 mt-4 mb-4 border-bottom">
    <a href="@Url.Action("Create", "Reservas")" class="btn btn-primary float-right">
        Fazer Reserva
    </a>

    <h3>Reservas</h3>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTermino)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reserva item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataTermino)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.getElementById('menu-reserva').classList.add('active');
</script>